import { FC } from 'react';
import clsx from 'clsx';
import styles from './{{pascalCase name}}.module.scss';

interface {{pascalCase name}}Props {
  className?: string;
}

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({ className = '' }) => {
   return <div className={clsx(styles.root, className)} data-testid="{{pascalCase name}}">{`{{pascalCase name}}`}</div>;
};

export default {{pascalCase name}};
