import { FC } from 'react';
import styles from './{{name}}.module.scss';

interface {{name}}Props {
  className?: string;
}

const {{name}}: FC<{{name}}Props> = ({className=""}) => {
  return <div className={`${styles.root} ${className}`}>{{name}}</div>;
};

export default {{name}};