import { FC } from 'react';
import styles from './{{name}}.module.scss';

interface {{name}}Props {
  text: string;
}

const {{name}}: FC<{{name}}Props> = (props) => {
  return <div className={styles.root}>{/* JSX code */}</div>;
};

export default {{name}};