import { FC } from 'react';
import styles from './{{pascalCase name}}.module.scss';

interface {{pascalCase name}}Props {
  className?: string;
}

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({ className = '' }) => {
  return <div className={`${styles.root} ${className}`}>{`{{pascalCase name}}`}</div>;
};

export default {{pascalCase name}};
